textarea {
    min-height: 400px;
}

#emails-list div {
    border: dashed 1px lightblue;
    padding: 20px;
    margin-bottom: 4px;
}

#emails-list div:hover {
    background-color:  lightblue;
}

#read {
    background-color: lightgrey;
}

#body {
    height: 400px;
    width: 100%;
    align-items: center;
    background-color: pink;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 50px;
}