{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <nav>
        <div>
            <button id="inbox">Inbox</button>
            <button id="compose">Compose</button>
            <button id="sent">Sent</button>
            <button id="archived">Archived</button>
            <a href="{% url 'logout' %}"><button>Log Out</button></a>
        </div>
        <div>
            <strong>{{ request.user.email }}</strong>
        </div>
    </nav>
    <hr>

    <!-- mailbox view -->
    <div id="emails-view">
    </div>

    <!-- individual email view -->
    <div id="email">
    </div>

    <!-- compose email view -->
    <div id="compose-view">
        <h3>Send a Howl</h3>
        <div id="compose_wrapper">
            <div>
                <form id="compose-form" onsubmit="send_mail()">
                    <div class="form-group">
                        From: <input disabled class="form-control" value="{{ request.user.email }}">
                    </div>
                    <div class="form-group">
                        To: <input id="compose-recipients" class="form-control">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="compose-subject" placeholder="Subject">
                    </div>
                    <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                    <button type="submit" class="alt_button">HOWL!</button>
                </form>
            </div>
            <div id="instructions">
                <h5>Howl the important parts of your email with hashtags:</h5>
                <br>

                <h3>#LOUD</h3>
                <p>Best used one word at a time!</p>
                <h3>##Snaaarrky</h3>
                <p>For really hammering in the point, slooowly</p>
                <h3>###Trite</h3>
                <p>Just the facts, period.</p>
                <br>
                <p><strong>Start a new line</strong> after your hashtagged word or sentence</p>
                <p><strong>No space</strong> between the #and the first word</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}